* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
:root {
    --file-background: #F4F6FA;
    --image-background: #e8eaee;
    --primary-text-color: #9CA2AA;
    --blue-color: #007FFE;
    --bright-blue: #E7F3FF;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.file-container {
    width: 700px;
    height: 250px;
    min-width: 300px;
    max-width: 100%;
    background-color: var(--file-background);
    border: 2px solid var(--bright-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 1px 2px 5px #eee;
}

.upload-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: fit-content;
    background-color: var(--bright-blue);
    padding: 10px;
    border-radius: 100px;
}

.image-container .upload-image {
    width: 30px;
    height: 30px;
}

.upload-area .notify-text {
    color: var(--primary-text-color);
    margin: 5px 0;
    text-align: center;
    line-height: 1.5;
}

.supported-files {
    color: var(--blue-color);
    text-align: center;
}

.file-area {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 2px solid var(--bright-blue);
    border-bottom-color: rgba(0, 127, 254, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.file-extension {
    width: 50px;
    height: 50px;
    border-right: 2px solid var(--bright-blue) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extension {
    background-color: var(--blue-color);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 5px;
}

.file-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.file-name {
    color: #112;
}

.file-size {
    color: var(--primary-text-color);
}